.parent {
    margin-left: 170px;
}
table, th, td {
    border: 1px solid black;
}
section 
{
    color: red;
}

.inline-block-child 
{
    display: inline-flex;
}
.text-danger ul {
    list-style-type: none;
    margin-left: 100px;
}
.text-danger li::before {
    content: "* "; 
    color: red; 
    font-weight: bold;
}