@using TPLOCAL1.Models
@model List<TPLOCAL1.Models.Opinion>
@{
    Layout = "_Layout";
    ViewData["Title"] = "HN - TP Avis";
    ViewData["h1"] = "Liste des Avis";
    ViewData["l1"] = "/Home/Index";
    ViewData["lib1"] = "Accueil";
    ViewData["l2"] = "/Home/Index/Form";
    ViewData["lib2"] = "Formulaire";
}
<head>
    <link rel="stylesheet" href="~/resources/Css/Validation.css">
</head>
<body>
    <table>
        <caption>Liste</caption>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Avis donné</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var opinion in Model)
            {
                <tr>
                    <td>@opinion.LastName</td>
                    <td>@opinion.FirstName</td>
                    <td style="background-color:@(opinion.OpinionGiven == "O" ? "#028A0F" : "#FF0000")">
                        @(opinion.OpinionGiven == "O" ? "Oui" : "Non")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body> 