<!DOCTYPE html>
@model TPLOCAL1.Models.InfoPerso
<head>
    <title>HN - TP LOCAL</title>
    <link rel="stylesheet" href="~/resources/Css/Index.css">
</head>

<header>
    <img src="~/resources/Image/GroupeHN.png" class="image" alt="GroupeHN" />
    <h1>Bienvenue chez TP HN</h1>   
</header>
<body>
    <nav>
     <ul>
            <li><a href="/Home/Index/Form">Remplissez le formulaire</a></li>
            <li><a href="/Home/Index/OpinionList">Avis list</a></li>
     </ul>
    </nav>
    <section>
        <p>
            <li><a href="/Home/Index/Form">Remplissez le formulaire</a></li>
        </p>
    </section>
</body>


