<!DOCTYPE html>
@{
    Layout = "_Layout";
    ViewData["Title"] = "HN - TP LOCAL";
    ViewData["h1"] = "Bienvenue dans le TP HN";
    ViewData["l1"] = "/Home/Index/Form";
    ViewData["lib1"] = "Remplir le formulaire";
    ViewData["l2"] = "/Home/Index/OpinionList";
    ViewData["lib2"] = "Liste Avis";
}
<head>
    <link rel="stylesheet" href="~/resources/Css/Index.css">
</head>
<body>
    <section>
        <p>
            <li><a href="/Home/Index/Form">Remplir le formulaire</a></li>
        </p>
    </section>
</body>


